Nombre=nivel0
# CajaNNN=[Nombre],[Simbolo],[Instancias],[PosX],[PosY]
Caja1=Caramelos,C,4,21,2 
Plataforma=127.0.0.1:27015
TiempoChequeoDeadlock=10000
Recovery=1
Enemigos=1
Sleep_Enemigos=2000
Algoritmo=RR
Quantum=3
Retardo=500
LogFile=nivel1.log
LogLevel=INFO